:root {
    --mainBackground: #e3e1ff;
    --accentBackground: #ffffff;
}
/*Creating 1920x1080 screen media querie*/
@media only screen and (max-width: 1920px) {
body {
    color: #000000;
    margin: auto;
}
.background {
    /* background: linear-gradient(to bottom, var(--mainBackground), var(--accentBackground));
    background-attachment: fixed; */
    background-image: url("/barrin-the-archmage-tribute-page/images/barrin-academy-castle.jpg");
    height: 100vh;
    width: 100vw;
    filter: blur(2px);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
#main {
    display: flex !important;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    text-align: center;
    align-items: center;
    z-index: 2;
    position: relative;
}
.main-heading-box{
    font-weight: bold;
    background-color: var(--accentBackground);
    padding: 1% 4.5% 2.4% 4.5%;
    border-radius: 2em;
    box-shadow: black 2px 2px 2px;
    margin-top: 3vh;
    padding: 1%;
  }
#title {
    font-family: 'Lora';
    font-size: 4em;
    margin: auto;
}
p {
    font-style: italic;
    font-family: 'Alegreya';
    font-size: 1.4em;
    color: rgb(0, 26, 255);
}

.frame {
    min-width: 800px;
    margin-top: 2%;
}
#barrin-profile-pic {
    width: 26vw;
    height: 37vw;
    border-radius: 1em;
    box-shadow: black 2px 2px 2px;
    margin-bottom: 2.5vh;
    transition: 500ms;
}
#barrin-profile-pic:hover {
    transform: scale(1.05);
}
.caption{
    padding: 1.2em;
    font-size: 1em;
    color: white;
    font-family: 'Alegreya';
    background-color: black;
    border-radius: 2em;
    margin-top: 1.3vh;
}
h2 {
    padding: 5px;
    font-family: 'Lora';
    font-size: 32px;
    text-shadow: 2px 2px #000000;
    color: white;
/*     border-top: groove black 5px; */
    background: rgba(0, 0, 0, 0.4);
    box-shadow: black 6px 6px 6px;
}
#tribute-info {
    justify-content: center;
    max-width: 40%;
}
ul {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 16px;
    font-family: 'Alegreya'; 
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 2px;
    text-align: left;
  
}
li {
  padding: 5px 2px 5px 0px;
}
#h3-box {
    font-size: 16px;
    font-family: 'Lora'; 
    background: rgba(0, 0, 0, 0.4);
    color: white;
    box-shadow: black 3px 3px 3px;
}

@media (max-width: 800px) {
  #image {
    min-width: 600px;
  }
}
ul:hover{
  transition: 500ms;
  background: rgb(0, 0, 0);
  color: cyan;
  border-radius: 4%;
  font-style: italic;
}
}